<ul class='nav'>
  <li><%= link_to_unless_current 'home', '/home' %></li>

  <li><%= link_to_unless_current 'index', '/all' %></li>

  <li><%= link_to_unless_current 'post', '/status' %></li>
  <li><%= button_to "logout", '/session', method: :delete %></li>
</ul>
