<ul class='nav'>
  <li><%= button_to 'home', '/home', method: :get %></li>

  <li><%= button_to 'index', '/all', method: :get %></li>

  <li><%= button_to 'post', '/status', method: :get %></li>
  <li><%= button_to "logout", '/session', method: :delete %></li>
</ul>
