<div style="height: 255px;width:255px;overflow:auto;display:inline-block;">
  <h3>COLORS</h3>
  <span class="aliceblue">aliceblue</span> ///
  <span class="antiquewhite">antiquewhite</span> ///
  <span class="aqua">aqua</span> ///
  <span class="aquamarine">aquamarine</span> ///
  <span class="azure">azure</span> ///
  <span class="beige">beige</span> ///
  <span class="bisque">bisque</span> ///
  <span class="black">black</span> ///
  <span class="blanchedalmond">blanchedalmond</span> ///
  <span class="blue">blue</span> ///
  <span class="blueviolet">blueviolet</span> ///
  <span class="brown">brown</span> ///
  <span class="burlywood">burlywood</span> ///
  <span class="cadetblue">cadetblue</span> ///
  <span class="chartreuse">chartreuse</span> ///
  <span class="chocolate">chocolate</span> ///
  <span class="coral">coral</span> ///
  <span class="cornflowerblue">cornflowerblue</span> ///
  <span class="cornsilk">cornsilk</span> ///
  <span class="crimson">crimson</span> ///
  <span class="cyan">cyan</span> ///
  <span class="darkblue">darkblue</span> ///
  <span class="darkcyan">darkcyan</span> ///
  <span class="darkgoldenrod">darkgoldenrod</span> ///
  <span class="darkgray">darkgray</span> ///
  <span class="darkgreen">darkgreen</span> ///
  <span class="darkkhaki">darkkhaki</span> ///
  <span class="darkmagenta">darkmagenta</span> ///
  <span class="darkolivegreen">darkolivegreen</span> ///
  <span class="darkorange">darkorange</span> ///
  <span class="darkorchid">darkorchid</span> ///
  <span class="darkred">darkred</span> ///
  <span class="darksalmon">darksalmon</span> ///
  <span class="darkseagreen">darkseagreen</span> ///
  <span class="darkslateblue">darkslateblue</span> ///
  <span class="darkslategray">darkslategray</span> ///
  <span class="darkturquoise">darkturquoise</span> ///
  <span class="darkviolet">darkviolet</span> ///
  <span class="deeppink">deeppink</span> ///
  <span class="deepskyblue">deepskyblue</span> ///
  <span class="dimgray">dimgray</span> ///
  <span class="dodgerblue">dodgerblue</span> ///
  <span class="firebrick">firebrick</span> ///
  <span class="floralwhite">floralwhite</span> ///
  <span class="forestgreen">forestgreen</span> ///
  <span class="fuchsia">fuchsia</span> ///
  <span class="gainsboroghostwhite">gainsboroghostwhite</span> ///
  <span class="gold">gold</span> ///
  <span class="goldenrod">goldenrod</span> ///
  <span class="gray">gray</span> ///
  <span class="green">green</span> ///
  <span class="greenyellow">greenyellow</span> ///
  <span class="honeydew">honeydew</span> ///
  <span class="hotpink">hotpink</span> ///
  <span class="indianred">indianred</span> ///
  <span class="indigo">indigo</span> ///
  <span class="ivory">ivory</span> ///
  <span class="khaki">khaki</span> ///
  <span class="lavender">lavender</span> ///
  <span class="lavenderblush">lavenderblush</span> ///
  <span class="lawngreen">lawngreen</span> ///
  <span class="lemonchiffon">lemonchiffon</span> ///
  <span class="lightblue">lightblue</span> ///
  <span class="lightcoral">lightcoral</span> ///
  <span class="lightcyan">lightcyan</span> ///
  <span class="lightgoldenrodyellow">lightgoldenrodyellow</span> ///
  <span class="lightgray">lightgray</span> ///
  <span class="lightgreen">lightgreen</span> ///
  <span class="lightpink">lightpink</span> ///
  <span class="lightsalmon">lightsalmon</span> ///
  <span class="lightseagreen">lightseagreen</span> ///
  <span class="lightskyblue">lightskyblue</span> ///
  <span class="lightslategray">lightslategray</span> ///
  <span class="lightsteelblue">lightsteelblue</span> ///
  <span class="lightyellow">lightyellow</span> ///
  <span class="lime">lime</span> ///
  <span class="limegreen">limegreen</span> ///
  <span class="linen">linen</span> ///
  <span class="magenta">magenta</span> ///
  <span class="maroon">maroon</span> ///
  <span class="mediumaquamarine">mediumaquamarine</span> ///
  <span class="mediumblue">mediumblue</span> ///
  <span class="mediumorchid">mediumorchid</span> ///
  <span class="mediumpurple">mediumpurple</span> ///
  <span class="mediumseagreen">mediumseagreen</span> ///
  <span class="mediumslateblue">mediumslateblue</span> ///
  <span class="mediumspringgreen">mediumspringgreen</span> ///
  <span class="mediumturquoise">mediumturquoise</span> ///
  <span class="mediumvioletred">mediumvioletred</span> ///
  <span class="midnightblue">midnightblue</span> ///
  <span class="mintcream">mintcream</span> ///
  <span class="mistyrose">mistyrose</span> ///
  <span class="moccasin">moccasin</span> ///
  <span class="navajowhite">navajowhite</span> ///
  <span class="navy">navy</span> ///
  <span class="oldlace">oldlace</span> ///
  <span class="olive">olive</span> ///
  <span class="olivedrab">olivedrab</span> ///
  <span class="orange">orange</span> ///
  <span class="orangered">orangered</span> ///
  <span class="orchid">orchid</span> ///
  <span class="palegoldenrod">palegoldenrod</span> ///
  <span class="palegreen">palegreen</span> ///
  <span class="paleturquoise">paleturquoise</span> ///
  <span class="palevioletred">palevioletred</span> ///
  <span class="papayawhip">papayawhip</span> ///
  <span class="peachpuff">peachpuff</span> ///
  <span class="peru">peru</span> ///
  <span class="pink">pink</span> ///
  <span class="plum">plum</span> ///
  <span class="powderblue">powderblue</span> ///
  <span class="purplered">purplered</span> ///
  <span class="rosybrown">rosybrown</span> ///
  <span class="royalblue">royalblue</span> ///
  <span class="saddlebrown">saddlebrown</span> ///
  <span class="salmon">salmon</span> ///
  <span class="sandybrown">sandybrown</span> ///
  <span class="seagreen">seagreen</span> ///
  <span class="seashell">seashell</span> ///
  <span class="sienna">sienna</span> ///
  <span class="silver">silver</span> ///
  <span class="skyblue">skyblue</span> ///
  <span class="slateblue">slateblue</span> ///
  <span class="slategray">slategray</span> ///
  <span class="snow">snow</span> ///
  <span class="springgreen">springgreen</span> ///
  <span class="steelblue">steelblue</span> ///
  <span class="tan">tan</span> ///
  <span class="teal">teal</span> ///
  <span class="thistle">thistle</span> ///
  <span class="tomato">tomato</span> ///
  <span class="turquoise">turquoise</span> ///
  <span class="violet">violet</span> ///
  <span class="wheat">wheat</span> ///
  <span class="white">white</span> ///
  <span class="whitesmoke">whitesmoke</span> ///
  <span class="yellow">yellow</span> ///
  <span class="yellowgreen">yellowgreen</span> ///
</div>


<div style="height: 255px;width:255px;overflow:auto;display:inline-block;">
  <h3>BACKGROUND COLORS</h3>
  <span class="bg-aliceblue">bg-aliceblue</span> ///
  <span class="bg-antiquewhite">bg-antiquewhite</span> ///
  <span class="bg-aqua">bg-aqua</span> ///
  <span class="bg-aquamarine">bg-aquamarine</span> ///
  <span class="bg-azure">bg-azure</span> ///
  <span class="bg-beige">bg-beige</span> ///
  <span class="bg-bisque">bg-bisque</span> ///
  <span class="bg-black">bg-black</span> ///
  <span class="bg-blanchedalmond">bg-blanchedalmond</span> ///
  <span class="bg-blue">bg-blue</span> ///
  <span class="bg-blueviolet">bg-blueviolet</span> ///
  <span class="bg-brown">bg-brown</span> ///
  <span class="bg-burlywood">bg-burlywood</span> ///
  <span class="bg-cadetblue">bg-cadetblue</span> ///
  <span class="bg-chartreuse">bg-chartreuse</span> ///
  <span class="bg-chocolate">bg-chocolate</span> ///
  <span class="bg-coral">bg-coral</span> ///
  <span class="bg-cornflowerblue">bg-cornflowerblue</span> ///
  <span class="bg-cornsilk">bg-cornsilk</span> ///
  <span class="bg-crimson">bg-crimson</span> ///
  <span class="bg-cyan">bg-cyan</span> ///
  <span class="bg-darkblue">bg-darkblue</span> ///
  <span class="bg-darkcyan">bg-darkcyan</span> ///
  <span class="bg-darkgoldenrod">bg-darkgoldenrod</span> ///
  <span class="bg-darkgray">bg-darkgray</span> ///
  <span class="bg-darkgreen">bg-darkgreen</span> ///
  <span class="bg-darkkhaki">bg-darkkhaki</span> ///
  <span class="bg-darkmagenta">bg-darkmagenta</span> ///
  <span class="bg-darkolivegreen">bg-darkolivegreen</span> ///
  <span class="bg-darkorange">bg-darkorange</span> ///
  <span class="bg-darkorchid">bg-darkorchid</span> ///
  <span class="bg-darkred">bg-darkred</span> ///
  <span class="bg-darksalmon">bg-darksalmon</span> ///
  <span class="bg-darkseagreen">bg-darkseagreen</span> ///
  <span class="bg-darkslateblue">bg-darkslateblue</span> ///
  <span class="bg-darkslategray">bg-darkslategray</span> ///
  <span class="bg-darkturquoise">bg-darkturquoise</span> ///
  <span class="bg-darkviolet">bg-darkviolet</span> ///
  <span class="bg-deeppink">bg-deeppink</span> ///
  <span class="bg-deepskyblue">bg-deepskyblue</span> ///
  <span class="bg-dimgray">bg-dimgray</span> ///
  <span class="bg-dodgerblue">bg-dodgerblue</span> ///
  <span class="bg-firebrick">bg-firebrick</span> ///
  <span class="bg-floralwhite">bg-floralwhite</span> ///
  <span class="bg-forestgreen">bg-forestgreen</span> ///
  <span class="bg-fuchsia">bg-fuchsia</span> ///
  <span class="bg-gainsboroghostwhite">bg-gainsboroghostwhite</span> ///
  <span class="bg-gold">bg-gold</span> ///
  <span class="bg-goldenrod">bg-goldenrod</span> ///
  <span class="bg-gray">bg-gray</span> ///
  <span class="bg-green">bg-green</span> ///
  <span class="bg-greenyellow">bg-greenyellow</span> ///
  <span class="bg-honeydew">bg-honeydew</span> ///
  <span class="bg-hotpink">bg-hotpink</span> ///
  <span class="bg-indianred">bg-indianred</span> ///
  <span class="bg-indigo">bg-indigo</span> ///
  <span class="bg-ivory">bg-ivory</span> ///
  <span class="bg-khaki">bg-khaki</span> ///
  <span class="bg-lavender">bg-lavender</span> ///
  <span class="bg-lavenderblush">bg-lavenderblush</span> ///
  <span class="bg-lawngreen">bg-lawngreen</span> ///
  <span class="bg-lemonchiffon">bg-lemonchiffon</span> ///
  <span class="bg-lightblue">bg-lightblue</span> ///
  <span class="bg-lightcoral">bg-lightcoral</span> ///
  <span class="bg-lightcyan">bg-lightcyan</span> ///
  <span class="bg-lightgoldenrodyellow">bg-lightgoldenrodyellow</span> ///
  <span class="bg-lightgray">bg-lightgray</span> ///
  <span class="bg-lightgreen">bg-lightgreen</span> ///
  <span class="bg-lightpink">bg-lightpink</span> ///
  <span class="bg-lightsalmon">bg-lightsalmon</span> ///
  <span class="bg-lightseagreen">bg-lightseagreen</span> ///
  <span class="bg-lightskyblue">bg-lightskyblue</span> ///
  <span class="bg-lightslategray">bg-lightslategray</span> ///
  <span class="bg-lightsteelblue">bg-lightsteelblue</span> ///
  <span class="bg-lightyellow">bg-lightyellow</span> ///
  <span class="bg-lime">bg-lime</span> ///
  <span class="bg-limegreen">bg-limegreen</span> ///
  <span class="bg-linen">bg-linen</span> ///
  <span class="bg-magenta">bg-magenta</span> ///
  <span class="bg-maroon">bg-maroon</span> ///
  <span class="bg-mediumaquamarine">bg-mediumaquamarine</span> ///
  <span class="bg-mediumblue">bg-mediumblue</span> ///
  <span class="bg-mediumorchid">bg-mediumorchid</span> ///
  <span class="bg-mediumpurple">bg-mediumpurple</span> ///
  <span class="bg-mediumseagreen">bg-mediumseagreen</span> ///
  <span class="bg-mediumslateblue">bg-mediumslateblue</span> ///
  <span class="bg-mediumspringgreen">bg-mediumspringgreen</span> ///
  <span class="bg-mediumturquoise">bg-mediumturquoise</span> ///
  <span class="bg-mediumvioletred">bg-mediumvioletred</span> ///
  <span class="bg-midnightblue">bg-midnightblue</span> ///
  <span class="bg-mintcream">bg-mintcream</span> ///
  <span class="bg-mistyrose">bg-mistyrose</span> ///
  <span class="bg-moccasin">bg-moccasin</span> ///
  <span class="bg-navajowhite">bg-navajowhite</span> ///
  <span class="bg-navy">bg-navy</span> ///
  <span class="bg-oldlace">bg-oldlace</span> ///
  <span class="bg-olive">bg-olive</span> ///
  <span class="bg-olivedrab">bg-olivedrab</span> ///
  <span class="bg-orange">bg-orange</span> ///
  <span class="bg-orangered">bg-orangered</span> ///
  <span class="bg-orchid">bg-orchid</span> ///
  <span class="bg-palegoldenrod">bg-palegoldenrod</span> ///
  <span class="bg-palegreen">bg-palegreen</span> ///
  <span class="bg-paleturquoise">bg-paleturquoise</span> ///
  <span class="bg-palevioletred">bg-palevioletred</span> ///
  <span class="bg-papayawhip">bg-papayawhip</span> ///
  <span class="bg-peachpuff">bg-peachpuff</span> ///
  <span class="bg-peru">bg-peru</span> ///
  <span class="bg-pink">bg-pink</span> ///
  <span class="bg-plum">bg-plum</span> ///
  <span class="bg-powderblue">bg-powderblue</span> ///
  <span class="bg-purplered">bg-purplered</span> ///
  <span class="bg-rosybrown">bg-rosybrown</span> ///
  <span class="bg-royalblue">bg-royalblue</span> ///
  <span class="bg-saddlebrown">bg-saddlebrown</span> ///
  <span class="bg-salmon">bg-salmon</span> ///
  <span class="bg-sandybrown">bg-sandybrown</span> ///
  <span class="bg-seagreen">bg-seagreen</span> ///
  <span class="bg-seashell">bg-seashell</span> ///
  <span class="bg-sienna">bg-sienna</span> ///
  <span class="bg-silver">bg-silver</span> ///
  <span class="bg-skyblue">bg-skyblue</span> ///
  <span class="bg-slateblue">bg-slateblue</span> ///
  <span class="bg-slategray">bg-slategray</span> ///
  <span class="bg-snow">bg-snow</span> ///
  <span class="bg-springgreen">bg-springgreen</span> ///
  <span class="bg-steelblue">bg-steelblue</span> ///
  <span class="bg-tan">bg-tan</span> ///
  <span class="bg-teal">bg-teal</span> ///
  <span class="bg-thistle">bg-thistle</span> ///
  <span class="bg-tomato">bg-tomato</span> ///
  <span class="bg-turquoise">bg-turquoise</span> ///
  <span class="bg-violet">bg-violet</span> ///
  <span class="bg-wheat">bg-wheat</span> ///
  <span class="bg-white">bg-white</span> ///
  <span class="bg-whitesmoke">bg-whitesmoke</span> ///
  <span class="bg-yellow">bg-yellow</span> ///
  <span class="bg-yellowgreen">bg-yellowgreen</span> ///
</div>

<div style="height: 255px;width:255px;overflow:auto;display: inline-block;">
  <h3>BORDER COLORS</h3>
  <span class="brdr brdr-aliceblue">brdr-aliceblue</span> ///
  <span class="brdr brdr-antiquewhite">brdr-antiquewhite</span> ///
  <span class="brdr brdr-aqua">brdr-aqua</span> ///
  <span class="brdr brdr-aquamarine">brdr-aquamarine</span> ///
  <span class="brdr brdr-azure">brdr-azure</span> ///
  <span class="brdr brdr-beige">brdr-beige</span> ///
  <span class="brdr brdr-bisque">brdr-bisque</span> ///
  <span class="brdr brdr-black">brdr-black</span> ///
  <span class="brdr brdr-blanchedalmond">brdr-blanchedalmond</span> ///
  <span class="brdr brdr-blue">brdr-blue</span> ///
  <span class="brdr brdr-blueviolet">brdr-blueviolet</span> ///
  <span class="brdr brdr-brown">brdr-brown</span> ///
  <span class="brdr brdr-burlywood">brdr-burlywood</span> ///
  <span class="brdr brdr-cadetblue">brdr-cadetblue</span> ///
  <span class="brdr brdr-chartreuse">brdr-chartreuse</span> ///
  <span class="brdr brdr-chocolate">brdr-chocolate</span> ///
  <span class="brdr brdr-coral">brdr-coral</span> ///
  <span class="brdr brdr-cornflowerblue">brdr-cornflowerblue</span> ///
  <span class="brdr brdr-cornsilk">brdr-cornsilk</span> ///
  <span class="brdr brdr-crimson">brdr-crimson</span> ///
  <span class="brdr brdr-cyan">brdr-cyan</span> ///
  <span class="brdr brdr-darkblue">brdr-darkblue</span> ///
  <span class="brdr brdr-darkcyan">brdr-darkcyan</span> ///
  <span class="brdr brdr-darkgoldenrod">brdr-darkgoldenrod</span> ///
  <span class="brdr brdr-darkgray">brdr-darkgray</span> ///
  <span class="brdr brdr-darkgreen">brdr-darkgreen</span> ///
  <span class="brdr brdr-darkkhaki">brdr-darkkhaki</span> ///
  <span class="brdr brdr-darkmagenta">brdr-darkmagenta</span> ///
  <span class="brdr brdr-darkolivegreen">brdr-darkolivegreen</span> ///
  <span class="brdr brdr-darkorange">brdr-darkorange</span> ///
  <span class="brdr brdr-darkorchid">brdr-darkorchid</span> ///
  <span class="brdr brdr-darkred">brdr-darkred</span> ///
  <span class="brdr brdr-darksalmon">brdr-darksalmon</span> ///
  <span class="brdr brdr-darkseagreen">brdr-darkseagreen</span> ///
  <span class="brdr brdr-darkslateblue">brdr-darkslateblue</span> ///
  <span class="brdr brdr-darkslategray">brdr-darkslategray</span> ///
  <span class="brdr brdr-darkturquoise">brdr-darkturquoise</span> ///
  <span class="brdr brdr-darkviolet">brdr-darkviolet</span> ///
  <span class="brdr brdr-deeppink">brdr-deeppink</span> ///
  <span class="brdr brdr-deepskyblue">brdr-deepskyblue</span> ///
  <span class="brdr brdr-dimgray">brdr-dimgray</span> ///
  <span class="brdr brdr-dodgerblue">brdr-dodgerblue</span> ///
  <span class="brdr brdr-firebrick">brdr-firebrick</span> ///
  <span class="brdr brdr-floralwhite">brdr-floralwhite</span> ///
  <span class="brdr brdr-forestgreen">brdr-forestgreen</span> ///
  <span class="brdr brdr-fuchsia">brdr-fuchsia</span> ///
  <span class="brdr brdr-gainsboroghostwhite">brdr-gainsboroghostwhite</span> ///
  <span class="brdr brdr-gold">brdr-gold</span> ///
  <span class="brdr brdr-goldenrod">brdr-goldenrod</span> ///
  <span class="brdr brdr-gray">brdr-gray</span> ///
  <span class="brdr brdr-green">brdr-green</span> ///
  <span class="brdr brdr-greenyellow">brdr-greenyellow</span> ///
  <span class="brdr brdr-honeydew">brdr-honeydew</span> ///
  <span class="brdr brdr-hotpink">brdr-hotpink</span> ///
  <span class="brdr brdr-indianred">brdr-indianred</span> ///
  <span class="brdr brdr-indigo">brdr-indigo</span> ///
  <span class="brdr brdr-ivory">brdr-ivory</span> ///
  <span class="brdr brdr-khaki">brdr-khaki</span> ///
  <span class="brdr brdr-lavender">brdr-lavender</span> ///
  <span class="brdr brdr-lavenderblush">brdr-lavenderblush</span> ///
  <span class="brdr brdr-lawngreen">brdr-lawngreen</span> ///
  <span class="brdr brdr-lemonchiffon">brdr-lemonchiffon</span> ///
  <span class="brdr brdr-lightblue">brdr-lightblue</span> ///
  <span class="brdr brdr-lightcoral">brdr-lightcoral</span> ///
  <span class="brdr brdr-lightcyan">brdr-lightcyan</span> ///
  <span class="brdr brdr-lightgoldenrodyellow">brdr-lightgoldenrodyellow</span> ///
  <span class="brdr brdr-lightgray">brdr-lightgray</span> ///
  <span class="brdr brdr-lightgreen">brdr-lightgreen</span> ///
  <span class="brdr brdr-lightpink">brdr-lightpink</span> ///
  <span class="brdr brdr-lightsalmon">brdr-lightsalmon</span> ///
  <span class="brdr brdr-lightseagreen">brdr-lightseagreen</span> ///
  <span class="brdr brdr-lightskyblue">brdr-lightskyblue</span> ///
  <span class="brdr brdr-lightslategray">brdr-lightslategray</span> ///
  <span class="brdr brdr-lightsteelblue">brdr-lightsteelblue</span> ///
  <span class="brdr brdr-lightyellow">brdr-lightyellow</span> ///
  <span class="brdr brdr-lime">brdr-lime</span> ///
  <span class="brdr brdr-limegreen">brdr-limegreen</span> ///
  <span class="brdr brdr-linen">brdr-linen</span> ///
  <span class="brdr brdr-magenta">brdr-magenta</span> ///
  <span class="brdr brdr-maroon">brdr-maroon</span> ///
  <span class="brdr brdr-mediumaquamarine">brdr-mediumaquamarine</span> ///
  <span class="brdr brdr-mediumblue">brdr-mediumblue</span> ///
  <span class="brdr brdr-mediumorchid">brdr-mediumorchid</span> ///
  <span class="brdr brdr-mediumpurple">brdr-mediumpurple</span> ///
  <span class="brdr brdr-mediumseagreen">brdr-mediumseagreen</span> ///
  <span class="brdr brdr-mediumslateblue">brdr-mediumslateblue</span> ///
  <span class="brdr brdr-mediumspringgreen">brdr-mediumspringgreen</span> ///
  <span class="brdr brdr-mediumturquoise">brdr-mediumturquoise</span> ///
  <span class="brdr brdr-mediumvioletred">brdr-mediumvioletred</span> ///
  <span class="brdr brdr-midnightblue">brdr-midnightblue</span> ///
  <span class="brdr brdr-mintcream">brdr-mintcream</span> ///
  <span class="brdr brdr-mistyrose">brdr-mistyrose</span> ///
  <span class="brdr brdr-moccasin">brdr-moccasin</span> ///
  <span class="brdr brdr-navajowhite">brdr-navajowhite</span> ///
  <span class="brdr brdr-navy">brdr-navy</span> ///
  <span class="brdr brdr-oldlace">brdr-oldlace</span> ///
  <span class="brdr brdr-olive">brdr-olive</span> ///
  <span class="brdr brdr-olivedrab">brdr-olivedrab</span> ///
  <span class="brdr brdr-orange">brdr-orange</span> ///
  <span class="brdr brdr-orangered">brdr-orangered</span> ///
  <span class="brdr brdr-orchid">brdr-orchid</span> ///
  <span class="brdr brdr-palegoldenrod">brdr-palegoldenrod</span> ///
  <span class="brdr brdr-palegreen">brdr-palegreen</span> ///
  <span class="brdr brdr-paleturquoise">brdr-paleturquoise</span> ///
  <span class="brdr brdr-palevioletred">brdr-palevioletred</span> ///
  <span class="brdr brdr-papayawhip">brdr-papayawhip</span> ///
  <span class="brdr brdr-peachpuff">brdr-peachpuff</span> ///
  <span class="brdr brdr-peru">brdr-peru</span> ///
  <span class="brdr brdr-pink">brdr-pink</span> ///
  <span class="brdr brdr-plum">brdr-plum</span> ///
  <span class="brdr brdr-powderblue">brdr-powderblue</span> ///
  <span class="brdr brdr-purplered">brdr-purplered</span> ///
  <span class="brdr brdr-rosybrown">brdr-rosybrown</span> ///
  <span class="brdr brdr-royalblue">brdr-royalblue</span> ///
  <span class="brdr brdr-saddlebrown">brdr-saddlebrown</span> ///
  <span class="brdr brdr-salmon">brdr-salmon</span> ///
  <span class="brdr brdr-sandybrown">brdr-sandybrown</span> ///
  <span class="brdr brdr-seagreen">brdr-seagreen</span> ///
  <span class="brdr brdr-seashell">brdr-seashell</span> ///
  <span class="brdr brdr-sienna">brdr-sienna</span> ///
  <span class="brdr brdr-silver">brdr-silver</span> ///
  <span class="brdr brdr-skyblue">brdr-skyblue</span> ///
  <span class="brdr brdr-slateblue">brdr-slateblue</span> ///
  <span class="brdr brdr-slategray">brdr-slategray</span> ///
  <span class="brdr brdr-snow">brdr-snow</span> ///
  <span class="brdr brdr-springgreen">brdr-springgreen</span> ///
  <span class="brdr brdr-steelblue">brdr-steelblue</span> ///
  <span class="brdr brdr-tan">brdr-tan</span> ///
  <span class="brdr brdr-teal">brdr-teal</span> ///
  <span class="brdr brdr-thistle">brdr-thistle</span> ///
  <span class="brdr brdr-tomato">brdr-tomato</span> ///
  <span class="brdr brdr-turquoise">brdr-turquoise</span> ///
  <span class="brdr brdr-violet">brdr-violet</span> ///
  <span class="brdr brdr-wheat">brdr-wheat</span> ///
  <span class="brdr brdr-white">brdr-white</span> ///
  <span class="brdr brdr-whitesmoke">brdr-whitesmoke</span> ///
  <span class="brdr brdr-yellow">brdr-yellow</span> ///
  <span class="brdr brdr-yellowgreen">brdr-yellowgreen</span> ///
</div>