ul.nav {
  list-style: none;
  margin-bottom: 30px;
  li {
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    height: 20px;
    width: 127px;
    text-align: center;
    border-radius: 3px;
    background-color: aliceblue;
  }
}
