div, span {
  box-sizing: border-box;
}

div.user-status {
  float: left;
  display:block;
  overflow:hidden;
  width: 255px;
  height: 275px;
  border: 1px solid black;
}

div.status {
  height: 255px;
}

div.user {
  height: 20px;
}