/**/
/**/
/**/
/* color */
/**/
/**/
/**/
.aliceblue {color: aliceblue;}
.antiquewhite {color: antiquewhite;}
.aqua {color: aqua;}
.aquamarine {color: aquamarine;}
.azure {color: azure;}
.beige {color: beige;}
.bisque {color: bisque;}
.black {color: black;}
.blanchedalmond {color: blanchedalmond;}
.blue {color: blue;}
.blueviolet {color: blueviolet;}
.brown {color: brown;}
.burlywood {color: burlywood;}
.cadetblue {color: cadetblue;}
.chartreuse {color: chartreuse;}
.chocolate {color: chocolate;}
.coral {color: coral;}
.cornflowerblue {color: cornflowerblue;}
.cornsilk {color: cornsilk;}
.crimson {color: crimson;}
.cyan {color: cyan;}
.darkblue {color: darkblue;}
.darkcyan {color: darkcyan;}
.darkgoldenrod {color: darkgoldenrod;}
.darkgray {color: darkgray;}
.darkgreen {color: darkgreen;}
.darkkhaki {color: darkkhaki;}
.darkmagenta {color: darkmagenta;}
.darkolivegreen {color: darkolivegreen;}
.darkorange {color: darkorange;}
.darkorchid {color: darkorchid;}
.darkred {color: darkred;}
.darksalmon {color: darksalmon;}
.darkseagreen {color: darkseagreen;}
.darkslateblue {color: darkslateblue;}
.darkslategray {color: darkslategray;}
.darkturquoise {color: darkturquoise;}
.darkviolet {color: darkviolet;}
.deeppink {color: deeppink;}
.deepskyblue {color: deepskyblue;}
.dimgray {color: dimgray;}
.dodgerblue {color: dodgerblue;}
.firebrick {color: firebrick;}
.floralwhite {color: floralwhite;}
.forestgreen {color: forestgreen;}
.fuchsia {color: fuchsia;}
.gainsboroghostwhite {color: gainsboroghostwhite;}
.gold {color: gold;}
.goldenrod {color: goldenrod;}
.gray {color: gray;}
.green {color: green;}
.greenyellow {color: greenyellow;}
.honeydew {color: honeydew;}
.hotpink {color: hotpink;}
.indianred {color: indianred;}
.indigo {color: indigo;}
.ivory {color: ivory;}
.khaki {color: khaki;}
.lavender {color: lavender;}
.lavenderblush {color: lavenderblush;}
.lawngreen {color: lawngreen;}
.lemonchiffon {color: lemonchiffon;}
.lightblue {color: lightblue;}
.lightcoral {color: lightcoral;}
.lightcyan {color: lightcyan;}
.lightgoldenrodyellow {color: lightgoldenrodyellow;}
.lightgray {color: lightgray;}
.lightgreen {color: lightgreen;}
.lightpink {color: lightpink;}
.lightsalmon {color: lightsalmon;}
.lightseagreen {color: lightseagreen;}
.lightskyblue {color: lightskyblue;}
.lightslategray {color: lightslategray;}
.lightsteelblue {color: lightsteelblue;}
.lightyellow {color: lightyellow;}
.lime {color: lime;}
.limegreen {color: limegreen;}
.linen {color: linen;}
.magenta {color: magenta;}
.maroon {color: maroon;}
.mediumaquamarine {color: mediumaquamarine;}
.mediumblue {color: mediumblue;}
.mediumorchid {color: mediumorchid;}
.mediumpurple {color: mediumpurple;}
.mediumseagreen {color: mediumseagreen;}
.mediumslateblue {color: mediumslateblue;}
.mediumspringgreen {color: mediumspringgreen;}
.mediumturquoise {color: mediumturquoise;}
.mediumvioletred {color: mediumvioletred;}
.midnightblue {color: midnightblue;}
.mintcream {color: mintcream;}
.mistyrose {color: mistyrose;}
.moccasin {color: moccasin;}
.navajowhite {color: navajowhite;}
.navy {color: navy;}
.oldlace {color: oldlace;}
.olive {color: olive;}
.olivedrab {color: olivedrab;}
.orange {color: orange;}
.orangered {color: orangered;}
.orchid {color: orchid;}
.palegoldenrod {color: palegoldenrod;}
.palegreen {color: palegreen;}
.paleturquoise {color: paleturquoise;}
.palevioletred {color: palevioletred;}
.papayawhip {color: papayawhip;}
.peachpuff {color: peachpuff;}
.peru {color: peru;}
.pink {color: pink;}
.plum {color: plum;}
.powderblue {color: powderblue;}
.purplered {color: purplered;}
.rosybrown {color: rosybrown;}
.royalblue {color: royalblue;}
.saddlebrown {color: saddlebrown;}
.salmon {color: salmon;}
.sandybrown {color: sandybrown;}
.seagreen {color: seagreen;}
.seashell {color: seashell;}
.sienna {color: sienna;}
.silver {color: silver;}
.skyblue {color: skyblue;}
.slateblue {color: slateblue;}
.slategray {color: slategray;}
.snow {color: snow;}
.springgreen {color: springgreen;}
.steelblue {color: steelblue;}
.tan {color: tan;}
.teal {color: teal;}
.thistle {color: thistle;}
.tomato {color: tomato;}
.turquoise {color: turquoise;}
.violet {color: violet;}
.wheat {color: wheat;}
.white {color: white;}
.whitesmoke {color: whitesmoke;}
.yellow {color: yellow;}
.yellowgreen {color: yellowgreen;}
/**/
/**/
/**/
/* background-color */
/**/
/**/
/**/
.bg-aliceblue {background-color: aliceblue;}
.bg-antiquewhite {background-color: antiquewhite;}
.bg-aqua {background-color: aqua;}
.bg-aquamarine {background-color: aquamarine;}
.bg-azure {background-color: azure;}
.bg-beige {background-color: beige;}
.bg-bisque {background-color: bisque;}
.bg-black {background-color: black;}
.bg-blanchedalmond {background-color: blanchedalmond;}
.bg-blue {background-color: blue;}
.bg-blueviolet {background-color: blueviolet;}
.bg-brown {background-color: brown;}
.bg-burlywood {background-color: burlywood;}
.bg-cadetblue {background-color: cadetblue;}
.bg-chartreuse {background-color: chartreuse;}
.bg-chocolate {background-color: chocolate;}
.bg-coral {background-color: coral;}
.bg-cornflowerblue {background-color: cornflowerblue;}
.bg-cornsilk {background-color: cornsilk;}
.bg-crimson {background-color: crimson;}
.bg-cyan {background-color: cyan;}
.bg-darkblue {background-color: darkblue;}
.bg-darkcyan {background-color: darkcyan;}
.bg-darkgoldenrod {background-color: darkgoldenrod;}
.bg-darkgray {background-color: darkgray;}
.bg-darkgreen {background-color: darkgreen;}
.bg-darkkhaki {background-color: darkkhaki;}
.bg-darkmagenta {background-color: darkmagenta;}
.bg-darkolivegreen {background-color: darkolivegreen;}
.bg-darkorange {background-color: darkorange;}
.bg-darkorchid {background-color: darkorchid;}
.bg-darkred {background-color: darkred;}
.bg-darksalmon {background-color: darksalmon;}
.bg-darkseagreen {background-color: darkseagreen;}
.bg-darkslateblue {background-color: darkslateblue;}
.bg-darkslategray {background-color: darkslategray;}
.bg-darkturquoise {background-color: darkturquoise;}
.bg-darkviolet {background-color: darkviolet;}
.bg-deeppink {background-color: deeppink;}
.bg-deepskyblue {background-color: deepskyblue;}
.bg-dimgray {background-color: dimgray;}
.bg-dodgerblue {background-color: dodgerblue;}
.bg-firebrick {background-color: firebrick;}
.bg-floralwhite {background-color: floralwhite;}
.bg-forestgreen {background-color: forestgreen;}
.bg-fuchsia {background-color: fuchsia;}
.bg-gainsboroghostwhite {background-color: gainsboroghostwhite;}
.bg-gold {background-color: gold;}
.bg-goldenrod {background-color: goldenrod;}
.bg-gray {background-color: gray;}
.bg-green {background-color: green;}
.bg-greenyellow {background-color: greenyellow;}
.bg-honeydew {background-color: honeydew;}
.bg-hotpink {background-color: hotpink;}
.bg-indianred {background-color: indianred;}
.bg-indigo {background-color: indigo;}
.bg-ivory {background-color: ivory;}
.bg-khaki {background-color: khaki;}
.bg-lavender {background-color: lavender;}
.bg-lavenderblush {background-color: lavenderblush;}
.bg-lawngreen {background-color: lawngreen;}
.bg-lemonchiffon {background-color: lemonchiffon;}
.bg-lightblue {background-color: lightblue;}
.bg-lightcoral {background-color: lightcoral;}
.bg-lightcyan {background-color: lightcyan;}
.bg-lightgoldenrodyellow {background-color: lightgoldenrodyellow;}
.bg-lightgray {background-color: lightgray;}
.bg-lightgreen {background-color: lightgreen;}
.bg-lightpink {background-color: lightpink;}
.bg-lightsalmon {background-color: lightsalmon;}
.bg-lightseagreen {background-color: lightseagreen;}
.bg-lightskyblue {background-color: lightskyblue;}
.bg-lightslategray {background-color: lightslategray;}
.bg-lightsteelblue {background-color: lightsteelblue;}
.bg-lightyellow {background-color: lightyellow;}
.bg-lime {background-color: lime;}
.bg-limegreen {background-color: limegreen;}
.bg-linen {background-color: linen;}
.bg-magenta {background-color: magenta;}
.bg-maroon {background-color: maroon;}
.bg-mediumaquamarine {background-color: mediumaquamarine;}
.bg-mediumblue {background-color: mediumblue;}
.bg-mediumorchid {background-color: mediumorchid;}
.bg-mediumpurple {background-color: mediumpurple;}
.bg-mediumseagreen {background-color: mediumseagreen;}
.bg-mediumslateblue {background-color: mediumslateblue;}
.bg-mediumspringgreen {background-color: mediumspringgreen;}
.bg-mediumturquoise {background-color: mediumturquoise;}
.bg-mediumvioletred {background-color: mediumvioletred;}
.bg-midnightblue {background-color: midnightblue;}
.bg-mintcream {background-color: mintcream;}
.bg-mistyrose {background-color: mistyrose;}
.bg-moccasin {background-color: moccasin;}
.bg-navajowhite {background-color: navajowhite;}
.bg-navy {background-color: navy;}
.bg-oldlace {background-color: oldlace;}
.bg-olive {background-color: olive;}
.bg-olivedrab {background-color: olivedrab;}
.bg-orange {background-color: orange;}
.bg-orangered {background-color: orangered;}
.bg-orchid {background-color: orchid;}
.bg-palegoldenrod {background-color: palegoldenrod;}
.bg-palegreen {background-color: palegreen;}
.bg-paleturquoise {background-color: paleturquoise;}
.bg-palevioletred {background-color: palevioletred;}
.bg-papayawhip {background-color: papayawhip;}
.bg-peachpuff {background-color: peachpuff;}
.bg-peru {background-color: peru;}
.bg-pink {background-color: pink;}
.bg-plum {background-color: plum;}
.bg-powderblue {background-color: powderblue;}
.bg-purplered {background-color: purplered;}
.bg-rosybrown {background-color: rosybrown;}
.bg-royalblue {background-color: royalblue;}
.bg-saddlebrown {background-color: saddlebrown;}
.bg-salmon {background-color: salmon;}
.bg-sandybrown {background-color: sandybrown;}
.bg-seagreen {background-color: seagreen;}
.bg-seashell {background-color: seashell;}
.bg-sienna {background-color: sienna;}
.bg-silver {background-color: silver;}
.bg-skyblue {background-color: skyblue;}
.bg-slateblue {background-color: slateblue;}
.bg-slategray {background-color: slategray;}
.bg-snow {background-color: snow;}
.bg-springgreen {background-color: springgreen;}
.bg-steelblue {background-color: steelblue;}
.bg-tan {background-color: tan;}
.bg-teal {background-color: teal;}
.bg-thistle {background-color: thistle;}
.bg-tomato {background-color: tomato;}
.bg-turquoise {background-color: turquoise;}
.bg-violet {background-color: violet;}
.bg-wheat {background-color: wheat;}
.bg-white {background-color: white;}
.bg-whitesmoke {background-color: whitesmoke;}
.bg-yellow {background-color: yellow;}
.bg-yellowgreen {background-color: yellowgreen;}
/**/
/**/
/**/
/* border-color */
/**/
/**/
/**/
.brdr-aliceblue {border-color: aliceblue;}
.brdr-antiquewhite {border-color: antiquewhite;}
.brdr-aqua {border-color: aqua;}
.brdr-aquamarine {border-color: aquamarine;}
.brdr-azure {border-color: azure;}
.brdr-beige {border-color: beige;}
.brdr-bisque {border-color: bisque;}
.brdr-black {border-color: black;}
.brdr-blanchedalmond {border-color: blanchedalmond;}
.brdr-blue {border-color: blue;}
.brdr-blueviolet {border-color: blueviolet;}
.brdr-brown {border-color: brown;}
.brdr-burlywood {border-color: burlywood;}
.brdr-cadetblue {border-color: cadetblue;}
.brdr-chartreuse {border-color: chartreuse;}
.brdr-chocolate {border-color: chocolate;}
.brdr-coral {border-color: coral;}
.brdr-cornflowerblue {border-color: cornflowerblue;}
.brdr-cornsilk {border-color: cornsilk;}
.brdr-crimson {border-color: crimson;}
.brdr-cyan {border-color: cyan;}
.brdr-darkblue {border-color: darkblue;}
.brdr-darkcyan {border-color: darkcyan;}
.brdr-darkgoldenrod {border-color: darkgoldenrod;}
.brdr-darkgray {border-color: darkgray;}
.brdr-darkgreen {border-color: darkgreen;}
.brdr-darkkhaki {border-color: darkkhaki;}
.brdr-darkmagenta {border-color: darkmagenta;}
.brdr-darkolivegreen {border-color: darkolivegreen;}
.brdr-darkorange {border-color: darkorange;}
.brdr-darkorchid {border-color: darkorchid;}
.brdr-darkred {border-color: darkred;}
.brdr-darksalmon {border-color: darksalmon;}
.brdr-darkseagreen {border-color: darkseagreen;}
.brdr-darkslateblue {border-color: darkslateblue;}
.brdr-darkslategray {border-color: darkslategray;}
.brdr-darkturquoise {border-color: darkturquoise;}
.brdr-darkviolet {border-color: darkviolet;}
.brdr-deeppink {border-color: deeppink;}
.brdr-deepskyblue {border-color: deepskyblue;}
.brdr-dimgray {border-color: dimgray;}
.brdr-dodgerblue {border-color: dodgerblue;}
.brdr-firebrick {border-color: firebrick;}
.brdr-floralwhite {border-color: floralwhite;}
.brdr-forestgreen {border-color: forestgreen;}
.brdr-fuchsia {border-color: fuchsia;}
.brdr-gainsboroghostwhite {border-color: gainsboroghostwhite;}
.brdr-gold {border-color: gold;}
.brdr-goldenrod {border-color: goldenrod;}
.brdr-gray {border-color: gray;}
.brdr-green {border-color: green;}
.brdr-greenyellow {border-color: greenyellow;}
.brdr-honeydew {border-color: honeydew;}
.brdr-hotpink {border-color: hotpink;}
.brdr-indianred {border-color: indianred;}
.brdr-indigo {border-color: indigo;}
.brdr-ivory {border-color: ivory;}
.brdr-khaki {border-color: khaki;}
.brdr-lavender {border-color: lavender;}
.brdr-lavenderblush {border-color: lavenderblush;}
.brdr-lawngreen {border-color: lawngreen;}
.brdr-lemonchiffon {border-color: lemonchiffon;}
.brdr-lightblue {border-color: lightblue;}
.brdr-lightcoral {border-color: lightcoral;}
.brdr-lightcyan {border-color: lightcyan;}
.brdr-lightgoldenrodyellow {border-color: lightgoldenrodyellow;}
.brdr-lightgray {border-color: lightgray;}
.brdr-lightgreen {border-color: lightgreen;}
.brdr-lightpink {border-color: lightpink;}
.brdr-lightsalmon {border-color: lightsalmon;}
.brdr-lightseagreen {border-color: lightseagreen;}
.brdr-lightskyblue {border-color: lightskyblue;}
.brdr-lightslategray {border-color: lightslategray;}
.brdr-lightsteelblue {border-color: lightsteelblue;}
.brdr-lightyellow {border-color: lightyellow;}
.brdr-lime {border-color: lime;}
.brdr-limegreen {border-color: limegreen;}
.brdr-linen {border-color: linen;}
.brdr-magenta {border-color: magenta;}
.brdr-maroon {border-color: maroon;}
.brdr-mediumaquamarine {border-color: mediumaquamarine;}
.brdr-mediumblue {border-color: mediumblue;}
.brdr-mediumorchid {border-color: mediumorchid;}
.brdr-mediumpurple {border-color: mediumpurple;}
.brdr-mediumseagreen {border-color: mediumseagreen;}
.brdr-mediumslateblue {border-color: mediumslateblue;}
.brdr-mediumspringgreen {border-color: mediumspringgreen;}
.brdr-mediumturquoise {border-color: mediumturquoise;}
.brdr-mediumvioletred {border-color: mediumvioletred;}
.brdr-midnightblue {border-color: midnightblue;}
.brdr-mintcream {border-color: mintcream;}
.brdr-mistyrose {border-color: mistyrose;}
.brdr-moccasin {border-color: moccasin;}
.brdr-navajowhite {border-color: navajowhite;}
.brdr-navy {border-color: navy;}
.brdr-oldlace {border-color: oldlace;}
.brdr-olive {border-color: olive;}
.brdr-olivedrab {border-color: olivedrab;}
.brdr-orange {border-color: orange;}
.brdr-orangered {border-color: orangered;}
.brdr-orchid {border-color: orchid;}
.brdr-palegoldenrod {border-color: palegoldenrod;}
.brdr-palegreen {border-color: palegreen;}
.brdr-paleturquoise {border-color: paleturquoise;}
.brdr-palevioletred {border-color: palevioletred;}
.brdr-papayawhip {border-color: papayawhip;}
.brdr-peachpuff {border-color: peachpuff;}
.brdr-peru {border-color: peru;}
.brdr-pink {border-color: pink;}
.brdr-plum {border-color: plum;}
.brdr-powderblue {border-color: powderblue;}
.brdr-purplered {border-color: purplered;}
.brdr-rosybrown {border-color: rosybrown;}
.brdr-royalblue {border-color: royalblue;}
.brdr-saddlebrown {border-color: saddlebrown;}
.brdr-salmon {border-color: salmon;}
.brdr-sandybrown {border-color: sandybrown;}
.brdr-seagreen {border-color: seagreen;}
.brdr-seashell {border-color: seashell;}
.brdr-sienna {border-color: sienna;}
.brdr-silver {border-color: silver;}
.brdr-skyblue {border-color: skyblue;}
.brdr-slateblue {border-color: slateblue;}
.brdr-slategray {border-color: slategray;}
.brdr-snow {border-color: snow;}
.brdr-springgreen {border-color: springgreen;}
.brdr-steelblue {border-color: steelblue;}
.brdr-tan {border-color: tan;}
.brdr-teal {border-color: teal;}
.brdr-thistle {border-color: thistle;}
.brdr-tomato {border-color: tomato;}
.brdr-turquoise {border-color: turquoise;}
.brdr-violet {border-color: violet;}
.brdr-wheat {border-color: wheat;}
.brdr-white {border-color: white;}
.brdr-whitesmoke {border-color: whitesmoke;}
.brdr-yellow {border-color: yellow;}
.brdr-yellowgreen {border-color: yellowgreen;}
